.Biznes {
    margin-top: 210px;
    padding-bottom: 150px;
}


.Cards {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    transition: 0.7s;
}

.Cards:hover {
    background-color: white;
    color: black;
}