.users {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
}

.Cards2 {
    margin: 40px 20px 50px;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.Clientsection {
    height: 669px;

}